body {
    background: radial-gradient(rgb(170, 153, 170) 0%, rgb(139, 102, 241) 100%);
    font-family: "Shadows Into Light", cursive;
    color: white;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    max-width: 600px;
    margin:30px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 20px;
}

header h1 {
    text-align: center;
    font-size: 17px;
    letter-spacing: 2px;
    word-spacing: -4px;
}

.search-form {
    text-align: center;
}

.search-form-input {
    background-color: rgba(139, 102, 241, 0.08);
    border: 1px solid white;
    border-radius: 6px;
    width: 80%;
    font-size: 15px;
    padding: 10px 20px;
    color: white;
}

.search-form-button {
    background-color: rgba(139, 102, 241, 0.45);
    padding: 10px 20px;
    border: 1px solid white;
    margin-left: 5px;
    border-radius: 6px;
    font-size: 15px;
    color: white;
}

.main-panel-info {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.main-details {
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    width: 150px;
    text-align: center;
    height: 100px;
    margin: 20px;
}

.main-details h3 {
    margin: 5px;
}

hr {
    color: white;
}

.main-details hr {
    width: 90%;
}

.main-temp {
    margin: auto 10px auto 0;
    text-align: end;
}

.main-temp h2 {
    font-size: 35px;
    margin: 0;
}

.main-temp h3 {
    margin: 0;
    font-size: 15px;
}

.main-temp p {
    font-size: 60px;
    margin: 0;
}

.forecast {
    display: flex;
    justify-content: space-between;
    margin: 25px 15px;
}

.forecast-container {
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    width: 80px;
}

.forecast-container h3 {
    font-size: 16px;
    margin: 5px 0 0 0;
}

.weather-emoji {
    font-size: 40px;
    margin: 10px 0;
}

.weather-temp {
    font-size: 20px;
    margin: 0 0 5px 0;
}

